@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600&subset=latin,cyrillic-ext,cyrillic);
body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 48px;
	padding-bottom: 50px;
}

.input-group-addon {
	background-color: #A5B1B7;
	color: white;
	border: 0;
	padding-left: 45px;
	padding-right: 45px;
}

.btn {
	font-weight: 600;
}

.btn-success {
	background-color: #3DA307;
}

.btn-success:hover {
	box-shadow: 0 0 0px 5px rgba(61,163,7,0.5);
	background-color: #3DA307;
	border: 0;
}

.img-fix-2 {
	height: 100%;
}

.arrow-padding {
	padding-left: 10px;
	line-height: 18px;
}

.split-container {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
}

.split-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 15px;
}

.split-left {
	max-width: 550px;
}

.split-right {
	background-image: url(../img/bg-1.jpg);
	background-position: center;
	background-size: cover;
}

@media (max-width: 768px) {
	.split-right {
		display: none;
	}
}

.img-fix {
	width: 100%;
}

.btn-enter {
	border: solid 1px black;
	color: black;
	margin-left: 15px;
}

.btn-enter:hover {
	box-shadow: 0 0 0px 5px rgba(0,0,0,0.5);
}

.reg-input-field {}

.reg-input-label {
	font-weight: 300;
}

.bolder-text {
	font-weight: 600;
}

.grey-text {
	color: #A5B1B7;
}
